.btn {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  outline: none;
  cursor: pointer;
}
.controls {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.game-board {
  display: flex;
  justify-content: center;
}
p {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.error,
.lose {
  color: rgb(255, 0, 0);
}
.success,
.win {
  color: rgb(42, 175, 42);
}
.reset {
  color: #fff;
  background-color: rgb(25, 170, 5);
}
.messages {
  text-align: center;
  min-height: 1.5rem;
  font-weight: 700;
}
button {
  outline: 1px solid #666;
  box-shadow: none;
  border: 2px solid transparent;
}
button[disabled] {
  color: rgb(0, 0, 0);
}
button:focus {
  border-color: rgb(44, 226, 217);
}
.timer > span,
.attempts > span {
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5em;
}
.game-board button {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}
.game-board button > span {
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 1rem;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 100ms;
}
.game-board button.active > span {
  opacity: 1;
}
.game-board button.active {
  border-color: rgb(87, 233, 87);
}
.game-board button.match {
  color: rgb(87, 233, 87);
}
.game-board button.active.failed,
.game-board button.active.failed:focus {
  border-color: rgb(244, 54, 6);
}
