body,
html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
}
.controls {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.game-board {
  display: flex;
  justify-content: center;
}
.hint {
  margin: 0.5rem auto;
  padding: 0.3em;
  text-align: center;
  width: auto;
  background-color: rgb(244, 244, 244);
}
p {
  font-weight: 400;
  font-size: 1.3rem;
}
[data-prompt="error"],
[data-prompt="lose"] {
  color: rgb(255, 0, 0);
}
[data-prompt="success"],
[data-prompt="win"] {
  color: rgb(42, 175, 42);
}

.reset,
.start {
  color: #fff;
  background-color: rgb(25, 170, 5);
  opacity: 1;
}
.messages {
  text-align: center;
  min-height: 1.5rem;
  font-weight: 700;
}
button {
  outline: 1px solid #666;
  box-shadow: none;
  border: 3px solid transparent;
}
button[disabled] {
  color: rgb(0, 0, 0);
}

button.reset[disabled],
button.start[disabled] {
  color: rgb(248, 246, 246);
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}
button:focus {
  border-color: rgb(9, 247, 235);
}
.timer > span,
.attempts > span,
.matches > span {
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5em;
}
.game-board button {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}
.game-board button > span {
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 1rem;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 100ms;
}
.game-board button.active > span {
  opacity: 1;
}
.game-board button.active {
  border-color: rgb(87, 233, 87);
}
.game-board button.match {
  color: rgb(87, 233, 87);
}
.game-board button.active.failed,
.game-board button.active.failed:focus {
  border-color: rgb(244, 54, 6);
}
